<h4>Propiedad input en Angular</h4>
<app-hijo [texto1]="dato_externo" [texto2]="identity" (desde_el_hijo)="recibirDatos($event)">

</app-hijo>

<div *ngIf="datos_del_hijo">
  <h1>{{datos_del_hijo.nombre}}</h1>
  <h1>{{datos_del_hijo.web}}</h1>
  <h1>{{datos_del_hijo.twitter}}</h1>
</div>

<hr/>

<!-- ng if then else -->

<h4>
  {{titulo}}
</h4>

<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>
  <button (click)="cambiar(false)">Cambiar</button>
  <strong style="background: yellow;">
    Eres el administrador de la webapp
  </strong>
</ng-template>

<ng-template #noAdmin>
  <button (click)="cambiar(true)">Cambiar</button>
  <strong style="background: red; color:white;">
    No eres el administrador de la webapp
  </strong>
</ng-template>
