<h3>{{title}}</h3>
<hr/>
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">
    Home
  </a>
  -
  <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">
    Coches
  </a>
  -
  <a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">
    Plantillas
  </a>
  -
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">
    Contacto
  </a>
</nav>
<hr/>
<router-outlet></router-outlet>
